<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ansa Rizwa K</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img id="profile-pic" src="{% static 'images/ansa.jpg' %}">
                    <hr>
                    <h4>Hi I am Ansa!</h4>
                    <p>I love coding, I am Web Developer.</p>
                    <br>
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/lindin logo.jpg' %}"></li>
                        <li><img class="social" src="{% static 'images/github logo.jpg' %}"></li>
                        <li><img class="social" src="{% static 'images/instagram logo.jpg' %}"></li>
                        <li><img class="social" src="{% static 'images/facebook logo.jpg' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter logo.jpg' %}"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card card-body h-100">
                    <h3>About me</h3>
                    <hr>
                    <p>I am a Jr Python Django Developer with a passion for building web applications that solve real-world problems. I love taking on challenging projects and working with teams to create innovative solutions that make a difference.</p>
                    <p>My expertise in Python and Django allows me to create dynamic and scalable web applications that are both user-friendly and secure. I am constantly learning and exploring new technologies and techniques to improve my skills and stay up-to-date with the latest trends in web development.</p>
                    <p>This website is a showcase of my work and skills, where you can explore my portfolio, learn more about my background and experience, and get in touch with me if you have any questions or opportunities you'd like to discuss. I'm always looking for new challenges and opportunities to learn and grow, and I believe that every project is an opportunity to make a positive impact.</p>
                    <p>Thank you for visiting my portfolio website, and I look forward to connecting with you soon!</p>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h3>My Experience as an Intern</h3>
                    <hr>
                    <p>Python Developer Intern at Inmakes Infotech pvt. ltd.</p>
                    <p>
                        Developed an <a href="http://organicagrocers.pythonanywhere.com/shop/"><u>E-Commerce Website</u> </a> featuring product browsing and ordering, shopping cart managements etc.
                        Developed a <a href="http://dailytodo.pythonanywhere.com/"><u>Todo-Application</u></a> featuring that allows users to create and manage tasks, set due dates and priorities and remove the task when it is done.
                        Created a <a href="http://moviewebapp.pythonanywhere.com/"><u>Movie-Web-App</u></a> to browse and search for movies, view movie details etc.
                        Created a <a href="http://travelwebapp.pythonanywhere.com/"><u>Travel-Website</u></a> that involved user registration and authentication.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h3>What I Know</h3>
                    <hr>
                    <p>Python,
                    Django,
                    HTML & CSS,
                    JavaScript,
                    Git</p>
                    <p>Typing Speed - 35-40wpm</p>
                    <p>Canva</p>
                    <p>Microsoft Office
                    Applications-MS Word, MS
                    Excel, MS PowerPoint, MS
                    Access
                    </p>
                    <p>PS: Working on React JS, AWS etc</p>
                </div>
            </div>
        </div>
        <br>


        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                   <h3>How I learn</h3>
                    <hr>
                    <p>I am constantly striving to improve my skills and stay up-to-date with the latest technologies and trends. My First coding Journey started with Sololearn and then I began taking online courses and started watching YouTube tutorials of Edureka, freeCodeCamp, etc and reading online articles about coding. I also joined coding communities on social media to connect with other learners and ask questions.To apply what I was learning, I started working on personal projects. These projects helped me develop my skills and gave me a sense of accomplishment when I saw them come to life.</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h3>My Short Term Goals</h3>
                    <hr>
                    <p>I wanted to improve my skills in JavaScript and React by taking an online course and building a project that integrates these technologies with Django.</p>
                    <p>I wanted to update my portfolio website with at least two new projects that showcase my skills and experience in Django development.</p>
                    <p>I wanted to apply for at least three new job opportunities or freelance projects that align with my interests and skillset.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


